<link rel="stylesheet" href="/category.css">
<script src="/categoryScript.js" defer></script>
<title>Category</title>

<section>
    <div class="wrapper">
        <h1 class="section-title">Trendy Recipes</h1>
        <div class="recipes-grid">

            <% recipes.forEach(element=> { %>
                <div data-id="<%= element.id %>" class="recipe-card">
                    <img class='recipe-image' src=<%=element.recipe_image %>
                    alt="The Main Dish">
                    <p class="recipe-name">
                        <%= element.recipe_name%>
                    </p>
                    <div class="recipe-info">
                        <%- include('partials/time.ejs',{hours:element.hours,minuts:element.minuts}) -%>
                            <%- include('partials/icon.ejs') %>
                    </div>
                </div>

                <% }) %>

        </div>

    </div>


</section>