<link rel="stylesheet" href="/singleRecipePage.css">

<div class="main-image-container">
    <div class="wrapper">
        <img class="main-image" src="<%- data.recipe_image%>" alt="">
    </div>
</div>

<section>
    <div class="wrapper">
        <div class="name-time-wrapper">
            <h1>
                <%= data.recipe_name %>
            </h1>
            <%- include('./partials/time.ejs',{hours:data.hours,minuts:data.minuts})%>
        </div>

        <div class="user-info-wrapper">
            <%- include('./partials/icon.ejs')%>
                <p>Gordon Ramsay</p>
        </div>

        <div class="main-info-container">

            <div class="ingredients-container">
                <h1 class="ingredients-title">Ingredients</h1>
                <ul>
                    <% data.recipe_ingredients.forEach(element=> { %>
                        <li>
                            <%= element %>
                        </li>

                        <% }) %>
                </ul>

            </div>

            <div class="ingredients-container">
                <h1 class="ingredients-title">Instructions</h1>
                <p class="instructions-text">
                    <%= data.recipe_instructions %>
                </p>
            </div>


        </div>
    </div>
</section>